label {
    font-style: italic;
    text-align: left;
    margin-bottom: 3px;
}
    

.form-group{
    padding: 0px 16px;
    margin-bottom: 10px;

    text-align: left;

    display: grid;
}

.element-input {
    height: 36px;
    font-size: 16px;

    padding: 0px 10px;
    border: 2px solid gray;
    border-radius: 10px;
}